<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Definisco il title -->
    <title>API Request</title>

    <!-- Inserisco il link al css -->
    <link rel="stylesheet" href="style.css">

    <!-- Link ad Axos -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>

<body>
    <!-- Definisco il container myApp -->
    <div id="myapp">

        <!-- Inserisco il titolo della pagina -->
        <div id="title">
            <h1>API REQUEST</h1>
            <h5>I try to take the email from a fake API created by Boolean</h5>
        </div>

        <!-- Definisco il main dove inserirò le email prese dall'API -->
        <main>
            <div class="container">
                <ul class="email-list" v-if="allEmailsGenerated">
                    <li class="email-item" v-for="email in emailList" :key="email">{{email}}</li>
                </ul>
            </div>
        </main>

    </div>

    <!-- Inserisco la CDN di Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Inserisco il file js -->
    <script type="text/javascript" src="main.js"> </script>
</body>

</html>