/* Regole GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

#myapp {
    height: 100vh;
    background: linear-gradient(to right, #10b318, #97f59c);
    text-align: center;
}

#title {
    padding: auto;
    height: 20vh;
    background-color: whitesmoke;
    color: #10b318;
    width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


#title h1 {
    font-size: 60px;
    text-shadow: 1px 1px 1px #888;

}

main {
    height: 75vh;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.email-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.email-item {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    font-style: italic;
    font-size: 1.1rem;
}

.email-item:hover {
    background-color: #ddd;
}

footer{
    position: relative; 
    height: 5vh;
}


/* Inserisco la modalità darkmode per cambiare a piacimento il bg */
.dark-mode, .dark-mode * {
    background-color: #333 !important;
    color: #fff;
    transition: background-color 0.3s ease;
}

.dark-mode li:hover{
    background-color: whitesmoke !important;
}

#darkButton {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #888;
    transition: background-color 0.3s ease;
}

#darkButton:hover {
    background-color: green;
}
